.guud{
    border: 5px solid yellow;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header{background-color:paleturquoise;
text-align: center;
font-size: 10px;
padding: 10px;
border: 3px solid brown;
}

p{float:left;flex:3;}


.dhexda{border: 2px solid green;
display: flex;}

nav a:hover{
    background-color: burlywood;
    color: brown;
    
    
}

main{
    border: 3px solid palevioletred;float: left;
    width: 45%;

}
aside{width: 30%;}


table{
background-color:white;
margin-left: 0px;
margin-bottom: 0px;

}

footer{border: 3px solid orange;
text-align: center;
margin-top: 10px;
padding: 25px;
font-size: 25px;}


